@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v21-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v21-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.features__span, .hero__span, .insights__span, .item__span, .numbers__span, .how-works__span, .application__span, .contact__span {
  margin-bottom: 24px;
  display: inline-block;
  padding: 2px 8px;
  background-color: rgb(34, 197, 94);
  border-radius: 36px;
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(255, 255, 255);
}

.features__title, .insights__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: rgb(42, 51, 66);
  letter-spacing: -0.02em;
}
.features__text, .insights__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(42, 51, 66);
}

#header {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 9;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: inline-block;
}
.header__logo--img {
  width: 100%;
}
.header__nav--list, .header__menu--list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.header__nav--link, .header__menu--link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
  transition: color, 0.3s ease;
}
.header__nav--link:hover, .header__menu--link:hover {
  color: rgb(34, 197, 94);
}
.header__auth--log-in, .header__log--log-in {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
  transition: color, 0.3s ease;
  margin-right: 24px;
}
.header__auth--log-in:hover, .header__log--log-in:hover {
  color: rgb(34, 197, 94);
}
.header__auth--sign-up, .header__log--sign-up {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(34, 197, 94);
  border-radius: 6px;
  padding: 8px 16px;
  background-color: rgb(34, 197, 94);
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  transition: color, 0.3s ease;
}
.header__auth--sign-up:hover, .header__log--sign-up:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 197, 94);
}
.header__burger, .header__hamburger {
  display: none;
}
.header__burger--line, .header__hamburger--line {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: rgb(34, 197, 94);
  border-radius: 6px;
}
.header__menu, .header__log {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

@media (max-width: 992px) {
  .header__nav--list {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .header__logo--img {
    width: 68px;
  }
  .header__nav--list {
    gap: 16px;
  }
  .header__nav--link {
    font-size: 14px;
    line-height: 18px;
  }
  .header__auth--log-in {
    font-size: 14px;
    line-height: 18px;
    margin-right: 12px;
  }
  .header__auth--sign-up {
    font-size: 14px;
    line-height: 18px;
    padding: 4px 8px;
  }
}
@media (max-width: 576px) {
  .header {
    overflow-x: hidden;
  }
  .header__nav--list {
    display: none;
  }
  .header__auth {
    display: none;
  }
  .header__burger, .header__hamburger {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  .header__menu {
    transition: all 0.5s ease;
  }
  .header__menu--list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
  .header__menu--link {
    color: rgb(255, 255, 255);
  }
  .header__menu.open-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateX(0px);
    transition: all 0.5s ease;
  }
  .header__menu.close-menu {
    transform: translateX(-600px);
    transition: all 0.5s ease;
  }
  .header__log {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .header__log--log-in {
    margin-right: 0;
    color: rgb(255, 255, 255);
  }
  .header__hamburger {
    position: absolute;
    top: 35px;
    right: 20px;
  }
  .header__hamburger--line:nth-child(1) {
    transform: rotate(-45deg);
  }
  .header__hamburger--line:nth-child(2) {
    position: absolute;
    transform: rotate(45deg);
  }
}
#hero {
  margin-top: 80px;
}

.hero {
  padding: 88px 190px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(42, 51, 66);
  border-radius: 24px;
  background-image: url("../../images/hero-img1.png"), url("../../images/hero-img4.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  position: relative;
}
.hero::before, .hero::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 90px;
  background-repeat: no-repeat;
}
.hero::before {
  bottom: 24px;
  left: 24px;
  background-image: url("../../images/hero-img2.png");
}
.hero::after {
  top: 24px;
  right: 24px;
  background-image: url("../../images/hero-img3.png");
}
.hero__title {
  margin-bottom: 24px;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  color: rgb(255, 255, 255);
  letter-spacing: -0.02em;
}
.hero__text {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.hero__form {
  max-width: 543px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 20px;
}
.hero__form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  bottom: 0;
  margin: auto 0;
  width: 20px;
  height: 16px;
  background-image: url("../../images/email.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__form--input {
  max-width: 320px;
  width: 100%;
  padding: 16px 14px 16px 48px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
  position: relative;
}
.hero__form--input::-moz-placeholder {
  color: rgb(85, 105, 135);
}
.hero__form--input::placeholder {
  color: rgb(85, 105, 135);
}
.hero__form--button {
  max-width: 207px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(34, 197, 94);
  border-radius: 6px;
  padding: 16px 28px;
  background-color: rgb(34, 197, 94);
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  transition: color, 0.3s ease;
}
.hero__form--button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 197, 94);
}
.hero__trial {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(85, 105, 135);
}

@media (max-width: 992px) {
  .hero {
    padding: 100px;
    background-size: 150px 150px;
  }
  .hero__title {
    font-size: 46px;
    line-height: 56px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 100px 50px;
    background-size: 100px 100px;
  }
  .hero::before, .hero::after {
    width: 100px;
    height: 90px;
  }
  .hero::before {
    bottom: 12px;
    left: 12px;
  }
  .hero::after {
    top: 12px;
    right: 12px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 36px;
  }
  .hero__text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 25px;
  }
  .hero__form--button {
    padding: 16px 18px;
  }
}
@media (max-width: 576px) {
  .hero::before, .hero::after {
    width: 80px;
    height: 80px;
  }
  .hero__form {
    flex-direction: column;
  }
  .hero__form::after {
    display: none;
  }
  .hero__form::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 16px;
    background-image: url("../../images/email.svg");
    background-repeat: no-repeat;
    z-index: 3;
  }
  .hero__form--input, .hero__form--button {
    max-width: 100%;
  }
}
#companies {
  width: 100%;
  background-image: url("../../images/company-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background: radial-gradient(50% 50% at 50% 50%, rgba(247, 248, 249, 0) 0%, #F7F8F9 100%);
  position: relative;
}
#companies::after {
  content: "";
  position: absolute;
  bottom: -88px;
  left: 0;
  width: 100%;
  height: 116px;
  background-image: url("../../images/company-bg-ave.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.companies {
  padding: 88px 0;
  width: 100%;
  text-align: center;
}
.companies__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
}
.companies__wrapper {
  color: rgb(136, 150, 171);
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.companies__wrapper svg {
  cursor: pointer;
}
.companies__wrapper svg:hover > path {
  fill: rgb(34, 197, 94);
}

#features {
  margin-top: 88px;
}

.features {
  padding: 90px 0 100px;
  text-align: center;
}
.features__text--wrapper {
  padding: 0 111px;
  margin-top: 16px;
}
.features__wrapper {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.feature {
  padding: 32px;
  flex: 0 0 30%;
  width: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature__img {
  width: 64px;
  height: 64px;
  display: grid;
  place-items: center;
  background-color: rgb(34, 197, 94);
  border-radius: 6px;
  color: rgb(255, 255, 255);
}
.feature__title {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(42, 51, 66);
}
.feature__text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
}
.feature:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0px rgb(34, 197, 94) inset;
  transform: scale(1.02);
  border-radius: 8px;
  background-color: rgb(34, 197, 94);
}
.feature:hover .feature__title, .feature:hover .feature__text {
  color: rgb(255, 255, 255);
}
.feature:hover .feature__img {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 197, 94);
}

@media (max-width: 768px) {
  .features__text--wrapper {
    padding: 0;
  }
  .feature {
    flex: 0 0 50%;
  }
}
@media (max-width: 576px) {
  .features__title {
    font-size: 20px;
    line-height: 24px;
  }
  .features__text {
    font-size: 14px;
    line-height: 18px;
  }
  .features__wrapper {
    margin-top: 24px;
  }
  .feature {
    flex: 0 0 100%;
  }
  .feature__title {
    font-size: 18px;
    line-height: 18px;
  }
  .feature__text {
    font-size: 16px;
  }
}
#produce {
  margin-top: 64px;
}

.produce {
  width: 100%;
  padding: 62px 98px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(28, 35, 45, 0) 0%, rgba(28, 35, 45, 0.9) 100%);
  background-color: rgb(42, 51, 66);
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.produce__info {
  max-width: 450px;
  width: 100%;
}
.produce__info--title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: rgb(255, 255, 255);
  letter-spacing: -0.02em;
}
.produce__info--text {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.produce__contact {
  display: flex;
  gap: 24px;
}
.produce__contact--btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(34, 197, 94);
  border-radius: 6px;
  padding: 8px 16px;
  background-color: rgb(34, 197, 94);
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  transition: color, 0.3s ease;
}
.produce__contact--btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 197, 94);
}
.produce__contact--btn:nth-child(2) {
  border-color: rgb(42, 51, 66);
  color: rgb(42, 51, 66);
  background-color: rgb(255, 255, 255);
}
.produce__contact--btn:nth-child(2):hover {
  background-color: rgb(42, 51, 66);
  color: rgb(255, 255, 255);
}

@media (max-width: 992px) {
  .produce {
    padding: 62px 32px;
  }
  .produce__info {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .produce {
    text-align: center;
    flex-direction: column;
    gap: 24px;
  }
  .produce__info {
    max-width: 100%;
  }
  .produce__info--title {
    font-size: 24px;
  }
  .produce__info--text {
    font-size: 14px;
  }
}
#insights {
  margin-top: 65px;
  background-color: rgb(247, 248, 249);
}

.insights {
  width: 100%;
  padding-top: 90px;
}
.insights__text {
  margin-top: 16px;
}
.insights__text--wrapper {
  max-width: 919px;
}
.insights__item {
  padding: 120px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.insights .item__features {
  max-width: 450px;
  width: 100%;
}
.insights .item__features--title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(42, 51, 66);
}
.insights .item__features--text {
  margin-top: 32px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.insights .item__features--first {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.insights .item__insight {
  position: relative;
  padding: 13px 0 0 80px;
}
.insights .item__insight--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: rgb(34, 197, 94);
  display: grid;
  place-items: center;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}
.insights .item__insight--title {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(42, 51, 66);
}
.insights .item__insight--text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
}
.insights .item__img {
  max-width: 554px;
  width: 100%;
  position: relative;
}
.insights .item__img img {
  width: 100%;
}
.insights .item__img::before {
  content: "";
  position: absolute;
  top: -32px;
  left: -30px;
  width: 130px;
  height: 130px;
  background-image: url("../../images/insight-img1.png");
  background-repeat: no-repeat;
  background-size: 130px 130px;
}
.insights .item__img::after {
  content: "";
  position: absolute;
  bottom: -32px;
  right: -32px;
  width: 150px;
  height: 90px;
  background-image: url("../../images/insight-img2.png");
  background-repeat: no-repeat;
  background-size: 150px 90px;
}

@media (max-width: 768px) {
  .insights__span {
    text-align: center;
    display: inline-block;
    margin-left: auto;
  }
  .insights__title, .insights__text {
    text-align: center;
  }
  .insights__item {
    padding: 60px 0;
    flex-direction: column;
    gap: 30px;
  }
  .insights .item__features--title {
    font-size: 28px;
    line-height: 30px;
  }
  .insights .item__features--text {
    font-size: 16px;
    line-height: 24px;
  }
  .insights .item__img::before {
    top: -20px;
    left: -22px;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
  }
  .insights .item__img::after {
    bottom: -22px;
    right: -22px;
    width: 100px;
    height: 70px;
    background-size: 100px 80px;
  }
}
#numbers {
  width: 100%;
}

.numbers {
  padding: 88px 0;
  width: 100%;
  text-align: center;
}
.numbers__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(42, 51, 66);
}
.numbers__text {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.numbers__text--wrapper {
  max-width: 919px;
  margin: 0 auto;
}
.numbers__wrapper {
  margin-top: 64px;
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.numbers__item--strong {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(34, 197, 94);
}
.numbers__item--text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(85, 105, 135);
}

@media (max-width: 768px) {
  .numbers {
    padding: 64px 0;
  }
  .numbers__title {
    font-size: 36px;
    line-height: 40px;
  }
  .numbers__text {
    font-size: 16px;
    line-height: 24px;
  }
  .numbers__wrapper {
    margin-top: 32px;
    justify-content: space-evenly;
    gap: 20px;
  }
  .numbers__item--strong {
    font-size: 36px;
    line-height: 40px;
  }
  .numbers__item--text {
    font-size: 16px;
    line-height: 24px;
  }
}
#how-works {
  margin-top: 116px;
  background-color: rgb(42, 51, 66);
  position: relative;
}
#how-works::before {
  content: "";
  position: absolute;
  top: -110px;
  left: 0;
  width: 100%;
  height: 115px;
  background-image: url("../../images/how-it-works-img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#how-works::after {
  content: "";
  position: absolute;
  bottom: -115px;
  left: 0;
  width: 100%;
  height: 116px;
  background-image: url("../../images/how-it-works-img2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.how-works {
  width: 100%;
  padding: 88px 0;
}
.how-works__span {
  background-color: rgb(220, 252, 231);
  color: rgb(34, 197, 94);
}
.how-works__top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.how-works__info {
  max-width: 554px;
  width: 100%;
}
.how-works__img {
  max-width: 554px;
  width: 100%;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}
.how-works__img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}
.how-works__img:hover .how-works__img--play {
  cursor: pointer;
  color: rgb(34, 197, 94);
  background-color: rgb(255, 255, 255);
}
.how-works__img img {
  width: 100%;
}
.how-works__img--play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  display: grid;
  place-items: center;
  background-color: rgb(34, 197, 94);
  border-radius: 50%;
  color: rgb(255, 255, 255);
}
.how-works__title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(255, 255, 255);
}
.how-works__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.how-works__information {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 32px;
}

.information__item {
  padding-bottom: 24px;
  flex: 0 0 31%;
  width: 100%;
  min-height: 174px;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.information__item--number {
  display: inline-block;
  width: 56px;
  height: 56px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: rgb(34, 197, 94);
  color: rgb(255, 255, 255);
}
.information__item--title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(255, 255, 255);
}
.information__item--text {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
}
.information__item:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0px rgb(34, 197, 94) inset;
  transform: scale(1.02);
  border-radius: 8px;
  background-color: rgb(34, 197, 94);
  padding-top: 5px;
  padding-left: 5px;
}
.information__item:hover .information__item--title, .information__item:hover .information__item--text {
  color: rgb(255, 255, 255);
}
.information__item:hover .information__item--number {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 197, 94);
}

@media (max-width: 992px) {
  .how-works__title {
    font-size: 36px;
    line-height: 40px;
  }
  .how-works__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .how-works__top {
    flex-direction: column;
  }
  .how-works .information__item {
    flex: 0 0 45%;
  }
}
@media (max-width: 576px) {
  .how-works {
    padding: 44px 0;
  }
  .how-works__top {
    flex-direction: column;
  }
  .how-works .information__item {
    flex: 0 0 100%;
  }
  .how-works .information__item--title {
    font-size: 18px;
    line-height: 18px;
  }
  .how-works .information__item--title {
    font-size: 16px;
  }
}
#application {
  margin-top: 115px;
}

.application {
  padding: 88px 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.application__title {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: rgb(42, 51, 66);
  letter-spacing: 0, 2;
}
.application__image {
  max-width: 944px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  transform: translateX(70px);
}
.application__image img {
  z-index: 3;
  position: relative;
  width: 100%;
}
.application__image::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 20px;
  width: 289px;
  height: 289px;
  background-image: url("../../images/application-img1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}
.application__image::after {
  content: "";
  position: absolute;
  top: 70px;
  right: 20px;
  width: 289px;
  height: 289px;
  background-image: url("../../images/application-img2.svg");
  background-repeat: no-repeat;
  z-index: 2;
}
.application__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.application__text--wrapper {
  max-width: 919px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}
.application__contact {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.application__contact--btn {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .application__image {
    transform: translateX(70px);
  }
  .application__image::after, .application__image::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .application__image {
    transform: translateX(50px);
  }
}
@media (max-width: 576px) {
  .application__title {
    font-size: 30px;
    line-height: 40px;
  }
  .application__image {
    transform: translateX(0px);
  }
  .application__text {
    font-size: 16px;
    line-height: 24px;
  }
}
#contact {
  width: 100%;
}

.contact {
  padding: 88px 0;
  text-align: center;
}
.contact__title {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(42, 51, 66);
}
.contact__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.contact__text--wrapper {
  max-width: 919px;
  width: 100%;
  margin: 0 auto;
}
.contact__connect {
  margin-top: 64px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.contact__connect--item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contact__connect--img {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  background-color: rgb(34, 197, 94);
  border-radius: 50%;
}
.contact__connect--strong {
  margin-top: 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  color: rgb(42, 51, 66);
}
.contact__connect--link {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(85, 105, 135);
}
.contact__connect--link:hover {
  color: rgb(34, 197, 94);
}
.contact__connect--social {
  display: flex;
  gap: 32px;
}

@media (max-width: 576px) {
  .contact {
    padding: 64px 0;
  }
  .contact__title {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 38px;
  }
  .contact__text {
    font-size: 16px;
    line-height: 24px;
  }
  .contact__connect {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
#map {
  margin-top: 321px;
  width: 100%;
  height: 496px;
  background-color: rgb(42, 51, 66);
}

.map {
  width: 100%;
  height: 496px;
  position: relative;
}
.map iframe {
  width: 100%;
  position: absolute;
  bottom: 176px;
}

#footer {
  background-color: rgb(42, 51, 66);
}
#footer hr {
  border: 1px solid rgb(51, 63, 81);
}

.footer {
  padding: 88px 0 45px;
  text-align: center;
}
.footer__logo {
  display: inline-block;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 32px;
}
.footer__list--link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(85, 105, 135);
  transition: color, 0.3s ease;
}
.footer__list--link:hover {
  color: rgb(34, 197, 94);
}
.footer__privacy {
  text-align: center;
  padding: 39px 0 84px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(85, 105, 135);
}

@media (max-width: 576px) {
  .footer__list {
    flex-direction: column;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */