#how-works{
    margin-top: 116px;
    background-color: $subtitle-color;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: -110px;
        left: 0;
        width: 100%;
        height: 115px;
        background-image: url("../../images/how-it-works-img1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -115px;
        left: 0;
        width: 100%;
        height: 116px;
        background-image: url("../../images/how-it-works-img2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.how-works{
    width: 100%;
    padding: 88px 0;
    &__span{
        background-color: rgba(220, 252, 231, 1);
        color: $btn-color;
    }
    &__top{
        @include display($wrap:nowrap, $direction:row, $items:center, $justify:space-between);
        gap: 10px;
    }
    &__info{
        max-width: 554px;
        width: 100%;
    }
    &__img{
        max-width: 554px;
        width: 100%;
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        &:hover{
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 24px;
            }
            & .how-works__img--play{
                cursor: pointer;
                color: $btn-color;
                background-color: $primary-color;
            }
        }
        & img{
            width: 100%;
        }
        &--play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            display: grid;
            place-items: center;
            background-color: $btn-color;
            border-radius: 50%;
            color: $primary-color;
        }
    }
    &__title{
        margin-bottom: 24px;
        @include textStyle($fs:48px, $fw:700, $lh:60px, $clr:$primary-color);
    }
    &__text{
        @include textStyle($fs:20px, $fw:700, $lh:30px, $clr:$secondary-color);
    }
    &__information{
        margin-top: 48px;
        @include display($wrap:wrap, $direction:row, $items:flex-start, $justify:space-between);
        row-gap: 32px;
    }
}
.information{
    &__item{
        padding-bottom: 24px;
        flex: 0 0 31%;
        width: 100%;
        min-height: 174px;
        transition: all .3s ease;
        @include display($wrap:nowrap, $direction:column, $items:flex-start, $justify:center);
        &--number{
            display: inline-block;
            width: 56px;
            height: 56px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background-color: $btn-color;
            color: $primary-color;
        }
        &--title{
            margin-top: 16px;
            @include textStyle($fs:24px, $fw:700, $lh:32px, $clr:$primary-color);
        }
        &--text{
            margin-top: 8px;
            @include textStyle($fs:16px, $fw:500, $lh:24px, $clr:$secondary-color);
        }
        &:hover{
            cursor: pointer;
            box-shadow: 1px 1px 3px 0px $btn-color inset;
            transform: scale(1.02);
            border-radius: 8px;
            background-color: $btn-color;
            padding-top: 5px;
            padding-left: 5px;
            & .information__item--title, .information__item--text{
                color: $primary-color;
            }
            & .information__item--number{
                background-color: $primary-color;
                color: $btn-color;
            }
        }
    }
}

@media (max-width:992px) {
    .how-works{
        &__title{
        font-size: 36px;
        line-height: 40px;
        }
        &__text{
        font-size: 16px;
        line-height: 24px;
        }
    }
}

@media (max-width:768px) {
    .how-works{
        &__top{
            flex-direction: column;
        }
        & .information{
            &__item{
                flex: 0 0 45%;                
            }
        }
    }
}

@media (max-width:576px) {
    .how-works{
        padding: 44px 0;
        &__top{
            flex-direction: column;
        }
        & .information{
            &__item{
                flex: 0 0 100%;        
                &--title{
                    font-size: 18px;
                    line-height: 18px;
                }
                &--title{
                    font-size: 16px;
                }        
            }
        }
    }
}