#produce{
    margin-top: 64px;
}
.produce{
    width: 100%;
    padding: 62px 98px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(28, 35, 45, 0) 0%, rgba(28, 35, 45, 0.9) 100%);
    background-color: $subtitle-color;
    border-radius: 8px;
    @include display($wrap:nowrap, $direction:row, $items:center, $justify:space-between);
    &__info{
        max-width: 450px;
        width: 100%;
        &--title{
            @include textStyle($fs:36px, $fw:700, $lh:44px, $clr:$primary-color);
            letter-spacing: -0.02em;
        }
        &--text{
            margin-top: 16px;
            @include textStyle($fs:20px, $fw:500, $lh:30px, $clr:$secondary-color);
        }
    }
    &__contact{
        display: flex;
        gap: 24px;
        &--btn{
            @include textStyle($fs:14px, $fw:500, $lh:24px, $clr:$primary-color);
            border: 1px solid $btn-color;
            border-radius: 6px;
            padding: 8px 16px;
            background-color: $btn-color;
            box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
            transition: color, .3s ease;
            &:hover{
                background-color: $primary-color;
                color: $btn-color;
            }
        }
        &--btn:nth-child(2){
            border-color: $subtitle-color;
            color: $subtitle-color;
            background-color: $primary-color;
            &:hover{
                background-color: $subtitle-color;
                color: $primary-color;
            }
        }
    }
}

@media (max-width:992px) {
    .produce{
        padding: 62px 32px;
        &__info{
            max-width: 400px;
        }
    }
}
@media (max-width:768px) {
    .produce{
        text-align: center;
        flex-direction: column;
        gap: 24px;
        &__info{
            max-width: 100%;
            &--title{
                font-size: 24px;
            }
            &--text{
                font-size: 14px;
            }
        }
    }
}